@page div.an, div.en, div.mn, div.tn, div.dn, div.rn, div.on {
display: block;
page-break-inside: avoid;
}
.note, div.an, div.en, div.mn, div.tn, div.dn, div.rn, div.on {
padding: 2px 10px;
margin-top: 10px;
border: 1px solid gray;
-webkit-border-radius: 20px;
}
.an {
background: -webkit-linear-gradient(top, rgb(250, 243, 210) 0%, #fefefe 100%);
dbackground-color: rgb(250, 243, 210);
}
.en {
background-color: rgb(206, 226, 211);
}
.mn {
background-color: rgb(249, 228, 151);
}
.tn {
background-color: rgb(180, 200, 255);
}
.dn {
background-color: rgb(220, 228, 151);
}
.rn {
background-color: rgb(192,192,192);
}
.sn {
background-color: rgb(255,255,120);
}

.noteTitle {
font-weight: bold;
}

.fields {
display: none;
border-spacing: 0px;
}

.fieldName {
font-weight: bold;
}

.fieldValue {
}

.contents {
float: right;
top: 5 px;
right: 5 px;
margin: 5 px;
padding: 2px 10px;
max-height: 95%;
overflow-y: auto;
border: 1px solid gray;
-webkit-border-radius: 10px;
aa-background-color: rgb(206, 226, 211);
background-color: rgb(249, 249, 249);
font-size: small;
}

a.contLink:link {
color: #0000d0;
text-decoration: none;
}

a.contLink:visited {
color: #0000d0;
text-decoration: none;
}

.tocswitch {
float: right;
}

.totop {
position: fixed;
top: 5 px;
right: 5 px;
margin: 5 px;
padding: 2px 10px;
font-size: small
}

.hidden {
display: none;
}

.contMenu {
position:absolute; 
top:0; 
left:0; 
--background-color:#EEE; 
display:none; 
float:left;
display: block;
--padding: 5px 5px;
--font: System;
--font-size: small;
--border:3px outset #666; 
margin: 0px;
padding: 0px;
box-shadow: 3px 3px 10px rgba(0,0,0,0.5); 
}

ul.SimpleContextMenu {
    -position: absolute;
    margin: 0px;
    padding: 0px;
    -font-family: verdana;
    font-family: 'Segoe UI', Arial, SansSerif, sans-serif;
    font-size: 12px;
    list-style-type: none;
    border-top: 1px solid #888;
    border-left: 1px solid #888;
    border-right: 1px solid #888;
    border-bottom: 1px solid #888;
    background: #eeeeee;
}
    ul.SimpleContextMenu li {
        -width: 200px;
        display: block;
        padding: 4px 10px 4px 5px;
        -border-bottom: 1px solid #888;
    }
        ul.SimpleContextMenu li a {
            -width: 140px;
            padding: 4px 10px 4px 10px;
            text-decoration: none;
            color: #0000ff;
            background: #eeeeee;
        }
        ul.SimpleContextMenu li a:hover {
            text-decoration: none;
            color: #ffffff;
            background: #ff0000;
        }


